/* Define CSS Variables */
:root {
  --background-color: #202124;
  --text-color: #fff;
  --border-color: #aaa;
  --input-bg-color: transparent;
  --input-placeholder-color: #aaa;
  --header-bg-color: #2a2b2e;
  --note-input-bg-color: #333;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --font-family: 'Inter', sans-serif;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) */
  min-height: 100vh;
  margin: 0;
  padding: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

input, textarea {
  background-color: var(--input-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin: 12px 0;
  padding: 12px;
  color: var(--text-color);
  font-family: var(--font-family);
}

input::placeholder, textarea::placeholder {
  color: var(--input-placeholder-color);
  font-weight: 700;
}

/* Header Styles */
.note-app__header {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  padding: 4px 16px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.note-app__header h1 {
  color: var(--text-color);
  flex: 1 1;
  margin: 8px 0;
  text-align: center;
}

/* Body Styles */
.note-app__body {
  margin: 16px auto;
  max-width: 1000px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.note-app__body h2 {
  font-weight: 400;
  margin: 16px 0;
}

/* Note Input Styles */
.note-input {
  margin: 0 auto 48px;
  max-width: 500px;
  background-color: var(--note-input-bg-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.note-input input, .note-input textarea {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.note-input__title {
  font-weight: 700;
}

.note-input__title__char-limit {
  color: var(--input-placeholder-color);
  font-size: 14px;
  text-align: right;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  background-color: var(--input-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  padding: 8px;
  width: 100%;
}

.notes-list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  margin-bottom: 48px;
  width: 100%;
}

.notes-list__empty-message {
  color: var(--input-placeholder-color);
  text-align: center;
}

.note-item {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--note-input-bg-color);
  box-shadow: var(--box-shadow);
}

.note-item__content {
  flex: 1 1;
  padding: 12px;
}

.note-item__title {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.note-item__date {
  color: var(--input-placeholder-color);
  font-size: 12px;
  margin-bottom: 8px;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__archive-button, .note-item__delete-button {
  background-color: var(--input-bg-color);
  border: 0;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  padding: 8px 0;
  width: 100%;
}

.note-item__delete-button {
  border-right: 1px solid var(--border-color);
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
